SECRET_KEY=autoschool-secret-key-2026
ADMIN_USER=admin
ADMIN_PASS=admin123

DATABASE_URL=postgresql://postgres.ivykupcbocmlklkngvtn:Autoschool2026StrongPass@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres

CLOUDINARY_URL=cloudinary://758634731699414:Y0BiXtXcDkyzk1md096FgAjYhlQ@dksgnnnwy
