{% extends "base.html" %}
{% block title %}Админ-панель{% endblock %}

{% block content %}
<section class="section section-min">
  <div class="section-head-min">
    <h2>Админ-панель</h2>
    <p class="muted">Редактируй филиалы и цены.</p>
  </div>

  <div class="grid-3">

    <div class="feature">
      <div class="feature-title">Инструкторы</div>
      <div class="feature-text muted">
        Количество: <b>{{ instructors_count }}</b>
      </div>

      <a class="btn btn-primary" style="margin-top:12px; width:100%;" href="/admin/instructors">
        <i data-lucide="users" class="i"></i>
        <span>Открыть</span>
      </a>
    </div>

    <div class="feature">
      <div class="feature-title">Преподаватели</div>
      <div class="feature-text muted">
        Количество: <b>{{ teachers_count }}</b>
      </div>

      <a class="btn btn-primary" style="margin-top:12px; width:100%;" href="/admin/teachers">
        <i data-lucide="graduation-cap" class="i"></i>
        <span>Открыть</span>
      </a>
    </div>

    <div class="feature">
      <div class="feature-title">Филиалы</div>
      <div class="feature-text muted">
        Количество: <b>{{ branches_count }}</b>
      </div>

      <a class="btn btn-primary" style="margin-top:12px; width:100%;" href="/admin/branches">
        <i data-lucide="building-2" class="i"></i>
        <span>Открыть</span>
      </a>
    </div>

    <div class="feature">
      <div class="feature-title">Цены (общие)</div>
      <div class="feature-text muted">
        Количество: <b>{{ prices_count }}</b>
      </div>

      <a class="btn btn-primary" style="margin-top:12px; width:100%;" href="/admin/prices">
        <i data-lucide="tag" class="i"></i>
        <span>Открыть</span>
      </a>
    </div>

    <div class="feature">
      <div class="feature-title">Цены главного экрана</div>
      <div class="feature-text muted">
        Количество: <b>{{ home_prices_count }}</b>
      </div>

      <a class="btn btn-primary" style="margin-top:12px; width:100%;" href="/admin/home-prices">
        <i data-lucide="tag" class="i"></i>
        <span>Открыть</span>
      </a>
    </div>

    <div class="feature">
      <div class="feature-title">Галерея</div>
      <div class="feature-text muted">
        Количество: <b>{{ gallery_count }}</b>
      </div>

      <a class="btn btn-primary" style="margin-top:12px; width:100%;" href="/admin/gallery">
        <i data-lucide="image" class="i"></i>
        <span>Открыть</span>
      </a>
    </div>

    <div class="feature">
      <div class="feature-title">Подсказка</div>
      <div class="feature-text muted">Логин/пароль хранятся в файле <b>.env</b></div>
      <div class="feature-text muted">Поменяй пароль после тестов.</div>
    </div>

  </div>
</section>

<script> if (window.lucide) lucide.createIcons(); </script>
{% endblock %}
